




<div class="show_background">

<main>

  <h1 class="secondpg">Welcome to PayMeNow</h1>

  <h2><%= @user.name %></h2>

  <% if @user.card %>
    <h3>Card</h3>

    <div class="card">
      <h4><%= @user.card.card_type %>: <%=@user.card.number %></h4>
    </div>
  <% else %>
    <div>
      <%= link_to 'Create a Card', new_card_path, class: 'btn btn-primary' %>
    </div>
  <% end %>

h1 {

/*width:100%;
height:800px;

color: black;
background: url('http://tablet.todayonline.com/sites/default/files/styles/photo_gallery_image_lightbox/public/photos/43_images/23633375.jpg?itok=oqec0eZD');
background-repeat: no-repeat;
background position: absolute;*/
>>>>>>> cardViews



<%- model_class = Payment -%>






<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human %></h1>
=======
}
</style>

<div class="paymentForm">
  <div class="container">

      <div class="smallForm row">
        <div class="col-xs-12 col-md-12">


          <h1>Hello, <%= @user.name %></h1>

          <%= link_to "Edit your Profile", edit_user_path(@user) %>

                    <div class="panel panel-default credit-card-box">
                          <div class="panel-heading display-table" >
                              <div class="row display-tr" >
                                  <h3 class="panel-title display-td" >Payment Details</h3>
                                  <div class="display-td" >
                                      <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                                  </div>
                              </div>
                          </div>
                          <div class="panel-body">
                              <form role="form" id="payment-form">
                                  <div class="row">
                                      <div class="col-xs-12">
                                          <div class="form-group">
                                              <label for="cardNumber">CARD NUMBER</label>
                                              <div class="input-group">
                                                  <input
                                                      type="tel"
                                                      class="form-control"
                                                      name="cardNumber"
                                                      placeholder="Valid Card Number"
                                                      autocomplete="cc-number"
                                                      required autofocus
                                                  />
                                                  <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-xs-7 col-md-7">
                                          <div class="form-group">
                                              <label for="cardExpiry"><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span> DATE</label>
                                              <input
                                                  type="tel"
                                                  class="form-control"
                                                  name="cardExpiry"
                                                  placeholder="MM / YY"
                                                  autocomplete="cc-exp"
                                                  required
                                              />
                                          </div>
                                      </div>
                                      <div class="col-xs-5 col-md-5 pull-right">
                                          <div class="form-group">
                                              <label for="cardCVC">CV CODE</label>
                                              <input
                                                  type="tel"
                                                  class="form-control"
                                                  name="cardCVC"
                                                  placeholder="CVC"
                                                  autocomplete="cc-csc"
                                                  required
                                              />
                                          </div>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-xs-12">
                                          <div class="form-group">
                                              <label for="couponCode">Billing Address</label>
                                              <input type="text" class="form-control" name="couponCode" />
                                          </div>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-xs-12">
                                          <button class="btn btn-success btn-lg btn-block" type="submit">Save</button>
                                      </div>
                                  </div>
                                  <div class="row" style="display:none;">
                                      <div class="col-xs-12">
                                          <p class="payment-errors"></p>
                                      </div>
                                  </div>
                              </form>
                          </div>
                      </div>

          </div>
        </div>
      </div>
    </div>



<!--
<div id="boxed">
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Debit Card</span>
  <input type="text" class="form-control" placeholder="Visa MasterCard" aria-describedby="basic-addon1">
>>>>>>> cardViews
</div>

<%= form_for @payment, :html => { :class => 'form-horizontal' } do |f| %>

<div class="control-group">
  <%= f.label :amount, 'Price', :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :amount, :class => 'text_field' %>
  </div>
</div>


<<<<<<< HEAD

<div class="form-actions">
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              payments_path, :class => 'btn' %>
</div>
<% end %>

</div>





<!--

 <div class="field">
      <%#= f.label :name %><br />
      <%#= f.text_field :name %>
    </div>

    <div class="field">
      <%#= f.label :email %><br />
      <%#= f.text_field :email %>
    </div>

    <div class="field">
      <%#= f.label :content, "Message" %><br />
      <%#= f.text_area :content %>
    </div>

    </main>

    </div>

<!-- app2nd.png
<h1>Send Money</h1>

<%#= form_for @message do |f| %>

  <%# if @message.errors.any? %>
    <div class= "error_messages">
      <h2><%#= pluralize(@message.errors.count, "error") %> prohibited this
              message from being saved:</h2>
      <ul>
      <%# @message.errors.full_messages.each do |msg| %>

        <li><%#= msg %><li>
        <%# end %>
      </ul>
    </div>

    <%# end %>

    <div class="field">
      <%#= f.label :name %><br />
      <%#= f.text_field :name %>
    </div>

    <div class="field">
      <%#= f.label :email %><br />
      <%#= f.text_field :email %>
    </div>

    <div class="field">
      <%#= f.label :content, "Message" %><br />
      <%#= f.text_area :content %>
    </div>
    <div class="actions"><%# f.submit "Send Message" %></div>


-->











=======
</div> -->


>>>>>>> cardViews






