<%= form_for @card do |f| %>

<div class="control-group">
  <%= f.label :cardNumber,'Card Number', :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :cardNumber, :class => 'text_field' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :cardCVV,'CVV', :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :cardCVV, :class => 'text_field' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :cardExpiryMonth,'Expiry Month', :class => 'control-label' %>
  <div class="controls">
    <%= f.select(:cardExpiryMonth, options_for_select(cc_months)) %>
  </div>
</div>

<div class="control-group">
  <%= f.label :cardExpiryYear,'Expiry Year', :class => 'control-label' %>
  <div class="controls">
    <%= f.select(:cardExpiryYear, options_for_select(cc_years)) %>
  </div>
</div>

<% end %>
